/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom styles */

.container{
	max-width: 90%;
	margin: 0 auto;
	padding: 30px 30px;
}

/* header */

header{
	background-color: blue;
	color: white;
	position: fixed;
	width: 100%;
	top: 0;
}
.header1{
	font-size: 50px;
}
.header-nav{
	text-decoration: none;
	color: white;
	font-style: 20px;
	margin-right: 20px;
}
.header-flex{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* main */
main{
	padding-top: 130px;
}
article{
	display: flex;
	width: 90%;
	justify-content: space-between;
}
.artical-width{
	width: 47%;
	padding-bottom: 20px;
}
.artical-width img{
	width: 100%;
	object-fit: cover;
	height: 250px;
}
h2{
	font-size: 32px;
	text-align: center;
	padding-bottom: 20px;
}
p{
	font-size: 16px;
	line-height: 1.5;
}

/* gallery */
.gallery{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 550px;
}
section img{
	width: 32%;
	height: 250px;
}

/* footer */
footer{
	background-color: turquoise;
	text-align: center;
	font-size: 30px;
	padding: 40px;
	color: white;
}
.box{
	background-color: rebeccapurple;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	position: fixed;
	right: 20px;
	bottom: 20px;
	font-size: 25px;
	line-height: 70px;
}
.box a{
	text-decoration: none;
	color: pink;
}